<div class="board">
  <ng-container *ngFor="let rank of boardDirectionArray">
    <ng-container *ngFor="let file of boardDirectionArray">
      <app-square [rank]="rank" [file]="file"></app-square>
    </ng-container>
  </ng-container>
</div>
<div class="boxNewGame">
  <button mat-raised-button (click)="newGame()">New Game</button>
</div>
<div class="flipBoard">
  <button mat-raised-button (click)="flipBoard()">Flip Board</button>
</div>
<div class="timer-container">
  <div class="timer">
    <span>White Timer: {{ formatTime(whiteTimerFront) }}</span>
    <span>Black Timer: {{ formatTime(blackTimerFront) }}</span>
  </div>
</div>
