.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-item button {
  min-width: 100px;
  padding: 10px 20px;
  background-color: #373430;
  color: #979797;
  border: none;
  font-size: 20px;
  text-align: center;
}

.button-item button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.button-item button:hover {
  background: linear-gradient(to bottom, hsl(37, 7%, 25%), hsl(37, 5%, 22%) 100%);
  color: #ccc;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-item {
  margin: 5px;
  font-size: 20px;
}

.button-item {
  margin-top: 10px;
  margin-right: 40px;
}