<div class="box">
    <button mat-raised-button (click)="createGame(30000)">Create Game (30s)</button>
    <button mat-raised-button (click)="createGame(60000)">Create Game (1 min)</button>
    <button mat-raised-button (click)="createGame(180000)">Create Game (3 min)</button>
    <button mat-raised-button (click)="createGame(300000)">Create Game (5 min)</button>
    <button mat-raised-button (click)="createGame(600000)">Create Game (10 min)</button>
    <button mat-raised-button (click)="createGame(900000)">Create Game (15 min)</button>
</div>